body {
  margin: 100;
  font-family: Arial, Helvetica, sans-serif
}


  /* navbar */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}


.logo {
  width: 50px;
  height: 50px;
  margin-right: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.nav1, .nav2 {
  display: flex;
  gap: 25px;
  align-items: center;
}


.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}




.btn {
  background-color:#033106;
  color: rgb(255, 255, 255);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}


  /* herosection */



.hero{
   text-align: center;

}

.btnhero  button{
 background-color: #033106;
  color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}


.hero  a{
     text-decoration: none;
  color: #222;
  font-weight: 500;

}


.yellow{
    text-align: center;
}





.rating {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  color: #000000;
}


.par {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.rating h5{
  color: rgb(63, 35, 35);
  font-size: medium;
}


.box{
  
  text-align: center;
}


  /* section2 */

.content1{
    padding: 5rem;
}
.btn1{
padding: 10px;
background-color: rgb(237, 142, 111);
border: 1px solid black;
border-radius: 9px;
margin: 5px;
}

.media{
 display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around; 
}

.comt{
    width: 90%;

    border: 1px solid black;
    background-color: rgb(234, 138, 106);
    border-radius: 9px 0 9px 9px;
    padding-left: 5px;
    height: 150px;
    padding: 20px;
}

.comt img{
height: 35px;
width: 35px;
border-radius: 80px;
}
.spider1{
     display: flex;
gap: 8px;
    align-items: center;
}
.spider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.pic2{
  position: relative;
  top: 30px;
  left: 50px;
  height: 300px;
}


.comt p{
    padding: 10px;

}

    /* section3 */

.content2{
padding: 5rem;
display: flex;

}


