body {
  margin: 20px;
  font-family:'Courier New', Courier, monospace
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}


.logo {
  width: 100px;
  height: 50px;
  margin-right: 100px;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.navleft .navright {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
}


.navbar a {
  text-decoration: none;
  color: #831ca2;
  font-weight: 500;
}

.navbar a:hover {
  color: #5b7da1;
}


.btn {
  background-color: #3e2fc5;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}



/* hero section */
.ctn1{
    text-align: center;
    
}
.ctn1 button{

    background-color: #831ca2;
    width: 300px;
    height:80px;
    color: bisque;
    font-size: larger;
    border-radius: 15px;
    
}