
body {
  margin: 0;
  font-family:'Times New Roman', Times, serif
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}


.logo {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.nav1, .nav2 {
  display: flex;
  gap: 25px;
  align-items: center;
}


.navbar a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.navbar a:hover {
  color: #5b7da1;
}


.btn {
  background-color:#1b4c1e;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}


.hero{
   text-align: center;

}

.btnhero  button{
 background-color: #1b4c1e;
  color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}


.hero  a{
     text-decoration: none;
  color: #222;
  font-weight: 500;
  
}


.sfer{
    text-align: center;
}





.pub {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  color: #333;
}


.par {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.pub h5{
  color: grey;
  font-size: medium;
}


.box{
  /* align-items: center; */
  text-align: center;

}

.salma img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}




.paragra1{
  margin: 100px;
  
}

.paragra1 button{
  height: 40px;
  width: 200px;
  border-radius: 50px;
  background: rgb(231, 170, 101);
  border:none;

}

.paragra1 p{
  width: 600px;
  
}


.facediv{
  display: flex;
  gap: 40px;
  margin-left: 100px;
 margin-top: -80px;
}

.facei{
  width: 300px;
}


.photo2 img{
  position: relative;
  left: 800px;
  bottom: 200px;
  width:500px;
   height :300px
}

.partie{
  background-color: rgb(231, 170, 101);
  margin: 80px;
  padding: 30px 20px 30px 20px;
  border-radius: 40px;
 margin-top: -250px;
 border: solid 1px;
}

.partie p{
  width: 600px;
}

.saalma{
  display: flex;
  justify-content: space-between;
}

.salma{
  display: flex;
  gap: 10px;
  align-items: center;
}


main{
    margin: 50px 100px 0px 100px;
}
.img1{
    height: 30px;
    width: 55px;
    
}









.A1{
    text-align: center;

}
.h1{
    font-size: 320%;
   
}
.d1{
    align-items: center;
}

#D1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a{
    padding: 0px 10px;
}
.img2{
    width: 80%;
    height: 50%;
}
.bu2{ padding: 10px 70px;
    border-radius: 10px;
    background-color: rgb(0, 243, 61);
}
.bu1{ padding: 10px 50px;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;

}
.bu3{background-color:  rgb(251, 197, 157);
    padding: 5px 30px;
    border-radius: 15px;
}


.a2{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.DD{
    text-align: center;
}
.A3{padding-left: 88px;
    display: flex;
    flex-direction: column;
width: 60%;
}
.d3{
    display: flex;
    flex-direction: row;
}
.se1{
    display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.A5{background-color: rgb(251, 197, 157);
    border: solid;
    border-radius: 50px;
    padding:50px;
    margin-top: 24px;
}
.d4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.p2{
    text-align: left; 
}
.img3{
    border-radius: 50%;
    width:40px ;
    height: 40px;
}
.dd1{

}
.img4{position: absolute;
    right: 6px;
   
}
.g2c{

}
a{ color: black;
  text-decoration-line: none;
}

#se1{
    display: flex;
  flex-direction: row-reverse;
margin-top: 50px;}
#A3{padding-left: 88px;
    display: flex;
    flex-direction: column;
width: 60%;
}
#p1{
    text-align: left; 
}
#bu3{
    background-color:  rgb(157, 251, 187);
    padding: 5px 30px;
    border-radius: 15px;
}
#d3{ display: flex;
    flex-direction: row;

}



.A1{
    text-align: center;

}
.h1{
    font-size: 320%;
   
}
.d1{
    align-items: center;
}

#D1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a{
    padding: 0px 10px;
}
.img2{
    width: 100%;
}
.bu2{ padding: 10px 70px;
    border-radius: 10px;
    background-color: rgb(0, 243, 61);
}
.bu1{ padding: 10px 50px;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
}


#a2{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#DD{
    text-align: center;
}
#A3{padding-left: 88px;
    display: flex;
    flex-direction: column;
width: 60%;
}
#d3{
    display: flex;
    flex-direction: row;
}

#A5{background-color: rgb(157, 251, 187);
    border: solid;
    border-radius: 50px;
    padding:50px;
    margin-top: 30px;
}
#d4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#p2{
    text-align: left; 
}
#img3{
    border-radius: 50%;
    width:40px ;
    height: 40px;
}



















































#img5{position: relative;
  left: 800px;
  bottom: 200px;
  width:500px;
   height :300px
    
}
.img6{position: absolute;
    right: -29px;

}
.A6{background-color: rgb(91, 102, 245);
    border: solid;
    border-radius: 50px;
    padding:50px;
    margin-top: 44px;
    
}
.se3{ display: flex;
  flex-direction: row;
  margin-top: 50px;

}
.bu5{
    background-color: rgb(91, 102, 245);
    padding: 5px 30px;
    border-radius: 15px;
}
.a10{
    margin-left: 40px;
}
.ar1{padding: 50px 100px;
    border: solid;
    border-radius:20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.di1{ width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.DI2{
    display: flex;
    flex-direction: row;
}
.art1{
    
    border-radius: 10px;
   text-align: center;
}
.h1h{
    margin: auto;
    font-size: 76px;
}

